<h1 class="my-5">BIOGRAPHY</h1>
<div class="text-center">
  <div>
    <%= image_tag 'yukiko.jpg', width: 120, height: 120, class: 'icon mx-auto' %>
  </div>
  <h2>Yukiko</h2>
  <p class="mx-4">
    <%= t(".introduction.1") %><br />
    <%= t(".introduction.2") %><br />
    <%=t(".introduction.3") %>
  </p>
</div>

<h1 class="mt-5">EDUCATION</h1>
<p class="text-center mb-5"><%= t(".education") %></p>

<h1 class="mt-5">EXPERIENCE</h1>
<p class="text-center mb-5"><%= t(".experience") %></p>

<h1 class="mt-5">SKILLS</h1>
<div class="skills mb-5">
  <p class="skill">
    <span class="star5_rating" data-rate="3"></span>
    HTML
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="3"></span>
    CSS
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="3"></span>
    JavaScript
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="4"></span>
    Ruby
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="4"></span>
    Ruby on Rails
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="3"></span>
    SQL
  </p>
</div>
